.saman:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
    color: rgb(252, 118, 15);
}
.saman{
    display: inline-block;
    transform-origin: center;
    padding: 10px;
    margin: 1px;
    margin-bottom: 10px;
}
.content{
    padding-left: 5%;
    background-color: rgba(255, 255, 255, 0.485);
}
p{
    color: rgb(117, 32, 4);
}
.image{
    float: right;
}
.para{
    background-color: aliceblue;
}
.inline{
    display:block;
    background-color:rgb(50, 243, 50);
}
.block{
    display: inline;
}
@media(max-width:900px){
    body{
        font-size: 32px;
        background-color: brown;
    }
}
@media(min-width:300px){
    body{
        font-size: 32px;
        background-color: rgb(193, 243, 119);
    }
}
*{
    margin: 10px;
}
.new{
    margin-top: 100px;
    background-color: aquamarine;
    position:relative;
}
.main{
    width:300px;
    height:500px;
    background-color: brown;
    position: relative;
    border: 3px solid black;
    border-radius:50px;
}
.eye1{
    width:250px;
    height:100px;
    background-color: rgb(236, 232, 232);
    position: relative;   
    top: 30px;
    right:-50px;
    border: 3px solid black; 
    border-radius: 50px;
}

